{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 50,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.yaml", "*.json"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}