
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.item-active.btn {
  @apply bg-primary hover:bg-primary; 
}

.item-active * {
  @apply text-primary-content ;
}